# Notebook Local - Carga de CSV.gz
Este notebook carga el archivo CSV.gz local y muestra las primeras 10 filas.

In [1]:
import duckdb

# Crear conexión a DuckDB
con = duckdb.connect()

print("✅ Conexión a DuckDB establecida")

✅ Conexión a DuckDB establecida

In [3]:
# Cargar el CSV.gz en una tabla
con.execute("""
    CREATE OR REPLACE TABLE viajes_distritos AS 
    SELECT * FROM read_csv('20230301_Viajes_distritos.csv.gz', compression='gzip', all_varchar=true)
""")

print("✅ CSV.gz cargado exitosamente")

✅ CSV.gz cargado exitosamente

In [4]:
# SELECT LIMIT 10
result = con.execute("SELECT * FROM viajes_distritos LIMIT 10").fetchdf()
result

,fecha,periodo,origen,destino,distancia,actividad_origen,actividad_destino,estudio_origen_posible,estudio_destino_posible,residencia,renta,edad,sexo,viajes,viajes_km
0,20230301,03,01009_AM,01001,0.5-2,frecuente,casa,no,no,01,10-15,NA,NA,2.732,3.355
1,20230301,10,01009_AM,01001,0.5-2,frecuente,casa,no,no,01,10-15,NA,NA,2.808,4.014
2,20230301,20,01009_AM,01001,0.5-2,frecuente,casa,no,no,01,10-15,NA,NA,9.504,9.464
3,20230301,11,01009_AM,01001,10-50,frecuente,casa,no,no,01,10-15,NA,NA,3.093,32.147
4,20230301,13,01009_AM,01001,10-50,frecuente,casa,no,no,01,10-15,NA,NA,3.093,41.078
5,20230301,14,01009_AM,01001,10-50,frecuente,casa,no,no,01,10-15,NA,NA,5.314,89.756
6,20230301,21,01009_AM,01001,10-50,frecuente,casa,no,no,01,10-15,NA,NA,3.093,31.936
7,20230301,22,01009_AM,01001,10-50,frecuente,casa,no,no,01,10-15,NA,NA,2.732,30.908
8,20230301,19,01028_AM,01001,10-50,frecuente,casa,no,no,01,10-15,NA,NA,2.423,72.987
9,20230301,18,01047_AM,01001,10-50,frecuente,casa,no,no,01,10-15,NA,NA,7.103,228.455