# Notebook Local - Carga de CSV.gz
Este notebook carga el archivo CSV.gz local y muestra las primeras 10 filas.

In [2]:
import duckdb

# Crear conexión a DuckDB
con = duckdb.connect()

print("✅ Conexión a DuckDB establecida")

✅ Conexión a DuckDB establecida

In [3]:
# Cargar el CSV.gz en una tabla
con.execute("""
    CREATE OR REPLACE TABLE viajes_distritos AS 
    SELECT * FROM read_csv('https://movilidad-opendata.mitma.es/estudios_basicos/por-municipios/viajes/ficheros-diarios/2023-03/20230303_Viajes_municipios.csv.gz', compression='gzip', all_varchar=true)
""")

print("✅ CSV.gz cargado exitosamente")

✅ CSV.gz cargado exitosamente

In [4]:
# SELECT LIMIT 10
result = con.execute("SELECT * FROM viajes_distritos LIMIT 10").fetchdf()
result

,fecha,periodo,origen,destino,distancia,actividad_origen,actividad_destino,estudio_origen_posible,estudio_destino_posible,residencia,renta,edad,sexo,viajes,viajes_km
0,20230303,00,01001,01009_AM,2-10,casa,frecuente,no,no,01,10-15,NA,NA,7.219,33.871
1,20230303,00,01001,01009_AM,2-10,frecuente,casa,no,no,01,>15,NA,NA,4.05,25.806
2,20230303,00,01001,01058_AM,2-10,frecuente,casa,no,no,01,>15,NA,NA,1.418,13.268
3,20230303,00,01001,01059,10-50,casa,frecuente,no,no,01,10-15,NA,NA,3.052,36.224
4,20230303,00,01001,01059,10-50,frecuente,casa,no,no,01,>15,0-25,mujer,5.07,67.175
5,20230303,00,01001,01059,10-50,frecuente,casa,no,no,01,>15,45-65,hombre,3.337,37.872
6,20230303,00,01001,01059,10-50,frecuente,frecuente,no,no,01,>15,25-45,mujer,4.725,57.671
7,20230303,00,01001,01059,10-50,frecuente,frecuente,no,no,01,>15,NA,NA,5.5,82.803
8,20230303,00,01001,01059,10-50,no_frecuente,no_frecuente,no,no,01,>15,NA,NA,1.0,12.4735234216
9,20230303,00,01001,01059,10-50,trabajo_estudio,casa,no,no,01,>15,25-45,mujer,3.873,41.645